n8n/social-scraper-workflow.json
{
  "name": "Social Scraper Draft",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    urls: [\n      'https://acesandeightscasinos.com',\n      'https://alpineamusement.com'\n    ],\n    contactFirst: true,\n    skipSocial: false,\n    maxPagesPerSite: 5,\n    maxDepth: 1,\n    concurrency: 3,\n    maxRetries: 1,\n    timeoutMs: 10000,\n    useProxy: true,\n    respectRobots: true,\n    outputMode: 'flat',\n    originalHeader: [],\n    originalRows: [],\n    detectedUrlColumn: ''\n  }\n}];"
      },
      "id": "2",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://social-scraper-web.vercel.app/api/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "3",
      "name": "Scrape Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return ($json.rows || []).map((row) => ({ json: row }));"
      },
      "id": "4",
      "name": "Split Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Scrape Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Request": {
      "main": [
        [
          {
            "node": "Split Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "social-scraper-draft-v1"
}
